/* COLOR PALETTE */

$purple: rgba(107, 64, 142, 100);
$purple-light: rgba(107, 64, 142, .77);
$pink: rgba(239, 67, 94, 1);
$pink-light: rgba(239, 67, 94, .77);
$turqoise: rgba(0, 174, 151, 1);
$turqoise-light: rgba(0, 174, 151, .63);
$graphite: rgba(77, 77, 77, 1);
$graphite-lightest: rgba(77, 77, 77, .14);

nav{
  padding: 0;
}

/* COMPONENTS */
img{
  width: 100%;
  max-width: 100%;
  height: auto;
}

h1{
  font-family: itc-avant-garde-gothic-pro;
  font-weight: bold;
}

h2{
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: bold;
}

h3{
  font-family: (Avante Gard Condensed);
}

h4{
  color: $pink;
  font-weight: 400;
  text-align: center;
}

h5{
  font-family: itc-avant-garde-gothic-pro;
  font-weight: bold;
  padding-top: .5em;
}

p{
  font-family: itc-avant-garde-gothic-pro;
  font-weight: 300;
  line-height: 2em;
}

.background-div{
  position: absolute;
  background-image: url('../images/background.png');
  background-size: cover;
 background-position: left;
 background-repeat: no-repeat;
 height: 92.5vh;
 z-index: -1;
 padding: 0;
 display: block;
 top: 0; bottom: 0; left: 0; right: 0;
 margin: auto;
}

.nav-item a{
  text-align: center;
  font-family: itc-avant-garde-gothic-pro;
}

.active{
  color: $pink !important;
}

/* HOME PAGE */

.home{
  height: 92.5vh;
  position: relative;
  overflow: hidden;

  img{
    width: 12em;
    margin: auto;
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
}

.purple-circle{
  display: block;
  position: absolute;
  width: 17em;
  height: 17em;
  border-radius: 100%;
  border: 20px $purple solid;
  background-color: rgba(0, 0, 0, .75);

  top: 0; bottom: 15em; left: 0; right: 0;
  margin: auto;
}

.home{
.white-circle-1{
position: absolute;
top: 0; bottom: 15em; left: 0; right: 0;
border-radius: 100%;
border: 1px solid white;
margin: auto;
width: 77.25vw;
height: 77.25vw;
opacity: 0;

animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
transition: 1s;

}

.white-circle-2{
position: absolute;
top: 0; bottom: 15em; left: 0; right: 0;
border-radius: 100%;
border: 1px solid white;
margin: auto;
width: 85vw;
height: 85vw;
opacity: 0;

animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
  animation-delay: .25s;
  transition: 1s;

}

.white-circle-3{
position: absolute;
top: 0; bottom: 15em; left: 0; right: 0;
border-radius: 100%;
border: 1px solid white;
margin: auto;
width: 92.5vw;
height: 92.5vw;
opacity: 0;

animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-delay: .5s;
transition: 1s;
}

.white-circle-4{
position: absolute;
top: 0; bottom: 15em; left: 0; right: 0;
border-radius: 100%;
border: 1px solid white;
margin: auto;
width: 100vw;
height: 100vw;
opacity: 0;

animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
  animation-delay: .75s;
  transition: 1s;
}
}

@-webkit-keyframes circle {
  // Animations.
    0%   {opacity: .0;}
    50%  {opacity: 1;}
    100%  {opacity: .0;}

}

@-moz-keyframes circle {
  // Animations.
    0%   {opacity: .0;}
    50%  {opacity: 1;}
    100%  {opacity: .0;}

}

.home-services{
  position: absolute;
  bottom: 5em;
}



  .home-services a:nth-child(1) div{
    width: 30vw;
    height: 30vw;
    background-color: $purple;
    float: left;
    border-radius: 100%;
    transition: .25s;


    h3{
      font-size: 1.0em;
      color: white;
      font-size: 1.5em;
      text-align: center;
      position: relative;
      display: block;
      margin: auto;
      top: 35%; left: 0; right: 0;

    }
  }

  .home-services a:nth-child(1) div:hover{
    background-color: $purple-light;
    transition: .25s;
  }



  .home-services a:nth-child(2) div{
    width: 30vw;
    height: 30vw;
    background-color: $pink;
    border-radius: 100%;
    float: left;
    transition: .25s;

    h3{
      font-size: 1.0em;
      color: white;
      font-size: 1.5em;
      text-align: center;
      position: relative;
      display: block;
      margin: auto;
      top: 35%; left: 0; right: 0;

    }
  }

  .home-services a:nth-child(2) div:hover{
    background-color: $pink-light;
    transition: .25s;
  }

  .home-services a:nth-child(3) div{
    width: 30vw;
    height: 30vw;
    color: white;
    background-color: $turqoise;
    border-radius: 100%;
    float: left;
    position: relative;
    transition: .25s;

    h3{
      font-size: 1.0em;
      color: white;
      font-size: 1.5em;
      text-align: center;
      position: relative;
      display: block;
      margin: auto;
      top: 25%; left: 0; right: 0;
    }
  }


  .home-services a:nth-child(3) div:hover{
    background-color: $turqoise-light;
    transition: .25s;
  }

  .home-services div{
    margin: .5vw;
  }

  .home-about-us{
background-color: $turqoise;
h2{
  float: left;
  margin-top: 1em;
  color: white;
}
p{
  float: left;
  color: white;
  padding-bottom: 1em;
}
  }

  .recent-work{
    margin-top: 2em;
  }

  .map{
    width: 100%;
    height: 30vh;
  }

  /* SERVICES PAGE */
  .circle-container{
    position: relative;
    height: 50vh;
    background-image: url('../images/background.png');
    background-position: center;
    background-size: cover;
    z-index:-2;
    overflow: hidden;


    .title-circle{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    background-color: $purple;
    margin: auto;
    width: 50vw;
    height: 50vw;


    h3{
      font-size: 2em;
      color: white;
      text-align: center;
      display: block;
      margin: auto;
      position: absolute;
      top: 38%; bottom: 0; left: 0; right: 0;
    }
  }

  .title-circle-3{
h3{
  display: block;
  margin: auto;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  line-height: 1em;
  float: left;
padding-left: .5em;
padding-right: .5em;
}
  }



    .white-circle-1{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    border: 1px solid white;
    margin: auto;
    width: 57.25vw;
    height: 57.25vw;
    opacity: 0;

    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    transition: 1s;

    }

    .white-circle-2{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    border: 1px solid white;
    margin: auto;
    width: 65vw;
    height: 65vw;
    opacity: 0;

    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
      animation-delay: .25s;
      transition: 1s;

    }

    .white-circle-3{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    border: 1px solid white;
    margin: auto;
    width: 72.5vw;
    height: 72.5vw;
    opacity: 0;

    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: .5s;
    transition: 1s;
    }

    .white-circle-4{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    border: 1px solid white;
    margin: auto;
    width: 80vw;
    height: 80vw;
    opacity: 0;

    animation-name: circle;
    animation-duration: 5s;
    animation-iteration-count: infinite;
      animation-delay: .75s;
      transition: 1s;
    }

  }

.branding{
  .content-container{
    height: 46.5vh;
    background-color: $purple;

    p{
      margin-top: 2em;
      line-height: 2em;
      color: white;
    }
}

    .start-a-project{
      color: $purple;
      background-color: white;
      text-align: center;
      padding: .5em;
      font-family: itc-avant-garde-gothic-pro;
      font-weight:500;
      font-size: 1.25em;
      margin-top: 1em;

    }
    .start-a-project:hover{
      text-decoration: none;
      opacity: .75;
    }
  }

  .web{
    .title-circle{
      background-color: $pink;
    }
    .content-container{
      height: 50vh !important;
      background-color: $pink;

      p{
        margin-top: 3em;
        line-height: 2em;
        color: white;
      }
    }
    .start-a-project{
      color: $pink;
      background-color: white;
      text-align: center;
      padding: .5em;
      font-family: itc-avant-garde-gothic-pro;
      font-weight:500;
      font-size: 1.25em;
      margin-top: 1em;

    }
    .start-a-project:hover{
      text-decoration: none;
      opacity: .75;
    }
  }

  .social-media{
    .title-circle{
      background-color: $turqoise;

      h3{
        margin-top: 35%;
        display: block;
        top: 0; bottom: 0; left: 0; right: 0;
      }
    }
    .content-container{
      height: 50vh !important;
      background-color: $turqoise;

      p{
        margin-top: 3em;
        line-height: 2em;
        color: white;
      }
    }
    .start-a-project{
      color: $turqoise;
      background-color: white;
      text-align: center;
      padding: .5em;
      font-family: itc-avant-garde-gothic-pro;
      font-weight:500;
      font-size: 1.25em;
      margin-top: 1em;
    }
    .start-a-project:hover{
      text-decoration: none;
      opacity: .75;
    }
  }

.learn-more{
  color: white;
  text-decoration: underline;
  font-family: itc-avant-garde-gothic-pro;
}


/* ABOUT PAGE */

.about{
  h2{
    color: white;
    font-size: 5.5em;
    line-height: .9em;
    margin-top:1em;
  }
  p{
    color: white;
  }
}

.who-we-are{
  height: 47.5vh;
  background-image: url('../images/background-2.png');
  background-size: cover;
}
.who-we-are-content{
  height: 47.5vh;
  background-color: $purple;
  p{
    margin-top: 2em;
    float: left;
  }
}

.what-we-do{
  height: 50vh;
  background-image: url('../images/background-2.png');
  background-size: cover;
}

.what-we-do-content{
  height: 50vh;
  background-color: $pink;

  p{
    margin-top: 2em;
    float: left;
  }
}

.our-values{
    height: 50vh;
    background-image: url('../images/background-2.png');
    background-size: cover;
}

.our-values-content{
  height: 50vh;
  background-color: $turqoise;

  p{
    margin-top: 2em;
    float: left;
  }
}



/* BLOG PAGE */
.featured-posts{
  h2{
    color: $pink !important;
  }
}

.blog-featured-posts{
color: $pink !important;
}

.browse-by{
  background-color: $graphite-lightest;

  a{
    color: black;
    font-family: itc-avant-garde-gothic-pro;
    padding: .65em;
  }
}

.blog-list{
  list-style: none;
  li{
    margin-top: 1em;
    margin-bottom: 1em;
  }

  a:hover{
    text-decoration: none;
  }
}

.blog-list li:hover{
  .blog-photo img{
    filter:grayscale(0);
    transition: .25s;
  }
}

.blog-photo{
  float: left;

}

  .blog-photo img{
    display: block;

    border-radius: 100%;
    filter: grayscale(1);
    transition: .25s;
    margin-left: .3em;
    margin-top: 6px;
    z-index: 1;
    max-width: 6em;
    min-width: 6em;
  }


  .blog-info{
    h4{
      float: left;
      color: black;
      font-size: 1.5em;
      font-weight: bold;
      padding-top: .75em;
      font-family: itc-avant-garde-gothic-pro;
      width: 100%;
      text-align: left;
    }
    p{
      color: black !important;
      font-size: .85em;
      line-height: 1em;
    }
  }

  .blog-list-features{
    list-style: none;
    li{
      margin-top: 1em;
      border-top-left-radius: 25%;
      float: left;

.blog-photo{
  border-top-left-radius: 70%;
  border-bottom-left-radius: 70%;
  height: 6.75em;
}
.blog-info{
  height: 6.75em;
}
    }

    .blog-feature-content-1{
      background-color: $pink;
    }

    .blog-feature-content-2{
      background-color: $turqoise;
    }

    .blog-feature-content-3{
      background-color: $purple;
    }

    .blog-feature-content{
      border-top-left-radius: 75px;
      border-bottom-left-radius: 75px;

      h4{
        color: white;
      }
      p{
        color: white !important;
      }
    }

    a:hover{
      text-decoration: none;
    }
  }


/* BLOG POST PAGE */

.blog-body{
  h1{
    margin-top: .75em;
  }
  p{
    color: black !important;
    font-family: athelas;
  }
}

.back-button{
  p{
    color: black !important;
  }
}





  /* CONTACT PAGE */

  .contact{
    h2{
      color: white;
      font-size: 2em;
      margin-top: 1em;
    }

    p{
      color: white;
      padding-bottom: 1em;
    }

    .start-a-project{
      color: $pink;
      background-color: white;
      text-align: center;
      padding: .5em;
      font-family: itc-avant-garde-gothic-pro;
      font-weight:500;
      font-size: 1.25em;
      margin-top: 1em;

    }
    .start-a-project:hover{
      text-decoration: none;
      opacity: .75;
    }
  }

  .have-questions{
    background-color: $graphite;
  }

  .contact-social-media{
    list-style: none;
    margin-bottom: 4em;
    li{
      float: left;
    }
  }

  .contact-list{
    list-style: none;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 4em;
    font-family: itc-avant-garde-gothic-pro;
    font-weight: 400;
  }

  .contact-start-a-project{
    background-color: $pink;
    height: 42.5vh;
    p{
      color: white;
      padding-bottom: 0em;
    }
  }





  /* FOOTER */
  footer{
    position: relative;
    ul{
      display: block;
      position: absolute;
      right: 0; left: 0;
      margin: auto;
      list-style: none;
      width: 14em;
      padding: 0;
      margin-top: 1em;
      padding-bottom: 1em;
      li{
        float: left;
        margin: .25em;
        img{
          min-width: 3em;
          max-width: 3em;
        }
      }
    }
  }


@media (min-width: 576px){

.home-services{
  position: absolute;
  bottom: 2em;
}

  .home-services a:nth-child(1) div{
    width: 22.5vw;
    height: 22.5vw;
    background-color: $purple;
    float: left;
    border-radius: 100%;
    margin-left: 15vw;

    max-width: 14em;
    max-height: 14em;


    h3{
      font-size: 1.0em;
      color: white;
      font-size: 1.5em;
      text-align: center;
      position: relative;
      display: block;
      margin: auto;
      top: 35%; left: 0; right: 0;
    }
  }

  .home-services a:nth-child(2) div{
    width: 22.5vw;
    height: 22.5vw;
    background-color: $pink;
    border-radius: 100%;
    float: left;
    max-width: 14em;
    max-height: 14em;

    h3{
      font-size: 1.0em;
      color: white;
      font-size: 1.5em;
      text-align: center;
      position: relative;
      display: block;
      margin: auto;
      top: 35%; left: 0; right: 0;
    }
  }

  .home-services a:nth-child(3) div{
    width: 22.5vw;
    height: 22.5vw;
    color: white;
    background-color: $turqoise;
    border-radius: 100%;
    float: left;
    position: relative;
    max-width: 14em;
    max-height: 14em;

    h3{
      font-size: 1.0em;
      color: white;
      font-size: 1.5em;
      text-align: center;
      position: relative;
      display: block;
      margin: auto;
      top: 25%; left: 0; right: 0;
    }
  }


  /*--------------------------*/


.title-circle{
  height: 25vw !important;
  width: 25vw !important;
}

.white-circle-1{
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
border-radius: 100%;
border: 1px solid white;
margin: auto;
width: 27.25vw !important;
height: 27.25vw !important;
opacity: 0;

animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
transition: 1s;

}

.white-circle-2{
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
border-radius: 100%;
border: 1px solid white;
margin: auto;
width: 30vw !important;
height: 30vw !important;
opacity: 0;

animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
  animation-delay: .25s;
  transition: 1s;

}

.white-circle-3{
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
border-radius: 100%;
border: 1px solid white;
margin: auto;
width: 32.75vw !important;
height: 32.75vw !important;
opacity: 0;

animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-delay: .5s;
transition: 1s;
}

.white-circle-4{
position: absolute;
top: 0; bottom: 0; left: 0; right: 0;
border-radius: 100%;
border: 1px solid white;
margin: auto;
width: 35.5vw !important;
height:35.5vw !important;
opacity: 0;

animation-name: circle;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-delay: .75s;
transition: 1s;
}


.branding{
  .content-container{
    height: 50vh;
  }
}

.start-a-project{
  font-size: 1em !important;

}

.branding{

.circle-container{
min-height: 25em !important;
}
.content-container{
  min-height: 25em;
}
}
.web{
  .circle-container{
  min-height: 25em !important;
  }
  .content-container{
    min-height: 25em;
  }
}
.social-media{
  .circle-container{
  min-height: 25em !important;
  }
  .content-container{
    min-height: 25em;
  }
}



}



@media (min-width: 768px){

/* -------------------------- */
.home{
  img{
    width: 12em;
    margin: auto;
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
  }
}

/* -------------------------- */

.home-services{
    width: 100vw;

}

  .branding{
    .content-container{
      height: 50vh;
    }
  }

  .start-a-project{
    font-size: 1em !important;

  }

  .branding{

  .circle-container{
  min-height: 50vh !important;
  }
  .content-container{
    min-height: 50vh;
  }
  }
  .web{
    .circle-container{
    min-height: 50vh !important;
    }
    .content-container{
      min-height: 50vh;
    }
  }
  .social-media{
    .circle-container{
    min-height: 50vh !important;
    }
    .content-container{
      min-height: 50vh;
    }
  }
}

@media(min-width: 960px){

.purple-circle{
  width: 25vw;
  height: 25vw;
}

  .home-services{
    position: absolute;
    bottom: 2em;
  }

    .home-services a:nth-child(1) div{
      float: left;
      border-radius: 100%;
      margin-left: 24vw !important;
      max-width: 14vw;
      max-height: 14vw;


      h3{
        font-size: 1.0em;
        color: white;
        font-size: 1.85em;
        text-align: center;
        position: relative;
        display: block;
        margin: auto;
        top: 40%; left: 0; right: 0;
      }
    }

    .home-services a:nth-child(2) div{
      background-color: $pink;
      border-radius: 100%;
      float: left;
      max-width: 14vw;
      max-height: 14vw;

      h3{
        font-size: 1.0em;
        color: white;
        font-size: 1.85em;
        text-align: center;
        position: relative;
        display: block;
        margin: auto;
        top: 40%; left: 0; right: 0;
      }
    }

    .home-services a:nth-child(3) div{
      color: white;
      background-color: $turqoise;
      border-radius: 100%;
      float: left;
      position: relative;
      max-width: 14vw;
      max-height: 14vw;

      h3{
        font-size: 1.0em;
        color: white;
        font-size: 1.85em;
        text-align: center;
        position: relative;
        display: block;
        margin: auto;
        top: 30%; left: 0; right: 0;
      }
    }

    .home-services div{
      margin: 2vw;
    }

    .title-circle{
      height: 25vw !important;
      width: 25vw !important;
    }

    .white-circle-1{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    border: 1px solid white;
    margin: auto;
    width: 30vw !important;
    height: 30vw !important;
    opacity: 0;

    animation-name: circle;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: 5s;

    }

    .white-circle-2{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    border: 1px solid white;
    margin: auto;
    width: 35vw !important;
    height: 35vw !important;
    opacity: 0;

    animation-name: circle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
      animation-delay: .25s;
      transition: 5s;

    }

    .white-circle-3{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    border: 1px solid white;
    margin: auto;
    width: 40vw !important;
    height: 40vw !important;
    opacity: 0;

    animation-name: circle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    transition: 5s;
    }

    .white-circle-4{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 100%;
    border: 1px solid white;
    margin: auto;
    width: 45vw !important;
    height: 45vw !important;
    opacity: 0;

    animation-name: circle;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 1.75s;
    transition: 5s;
    }

p{
  font-size: 1em;
}
}
